<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container" id="page-container">
    <div class="container" id="toolbar">
      <button (click)="handleGenerateButtonClick()">Generate</button>
      <button (click)="handleExportButtonClick()">Export</button>
    </div>
    <div id="babel-container">
      <table>
        <tr *ngFor="let row of table_data">
          <td *ngFor="let cell of row" [style.background-color]="getColour(cell)">
            <!--{{ cell }}-->
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>